h2.font-sans.text-2xl.antialiased.text-gray-800.tracking-tight.mt-4 = "You connected with Plaid"

p.mt-4.text-gray-700.antialiased.leading-relaxed.text-sm Your Plaid public token is <strong>#{request.params["token"]}</strong>